<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Synedriáseis</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../js/hide.js"></script>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<a href="connexion_view.php"><input class="connexion" type="submit" value="Connexion"</input></a><br>
<a href="inscription_view.php"><input class="inscription" type="submit" value="Inscription"</input></a><br>
</body>
</html>

